.slotMachineContainer {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slotMachineSubContainer {
  margin: 1rem;
}

.slotMachineSubContainer button {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  margin: 0rem 1rem;
}
