.contactForm {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  min-width: 40%;
  margin: 1rem 5rem;
}

.contactForm button {
  border-style: outset;
  border-radius: 30px;
  width: 20%;
  border-color: #246397;
  background-color: #5885af;
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  display: block;
  padding: 6px;
}

.contactForm button:hover {
  color: #a0e7e5;
}

.confirmation {
  border: 1px solid darkgreen;
  background-color: #27b13e;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  grid-row-start: 6;
  grid-column: 1 / span 2;
}
