.portfolioCard {
  border: 1px solid #246397;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 1rem;
  width: 23%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolioCard h3 {
  color: #246397;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.portfolioCard p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  height: 128px;
  overflow: hidden;
  padding-right: 1rem;
}

.portfolioCard button {
  border-style: outset;
  border-radius: 30px;
  border-color: #246397;
  background-color: #5885af;
  text-align: center;
  margin: auto;
  margin-bottom: 0.5rem;
  display: block;
  padding: 6px;
}

.portfolioCard button a {
  color: #fff;
}

.portfolioCard button a:hover {
  color: #a0e7e5;
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 769px) {
  .portfolioCard {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
}
